@model StARKS.Models.MainTableViewModel

@{
    ViewData["Title"] = "Home Page";
}

<label class="row">
    <div class="col-6">
        <select class="col-5" id="filterStudents"></select>
        <select class="col-5" id="filterCourses">
            <option></option>
            @{
                foreach (var course in Model.Courses)
                {
                    <option value="@course.Code">
                        @course.Name
                    </option>
                }
            }
        </select>
    </div>
    <div class="col-6 float-right">
        <div class="float-right">
            <b/>
            <a asp-controller="Courses" asp-action="Create"> Add Course </a> |
            <a asp-controller="Students" asp-action="Create"> Add Student </a>
        </div>
    </div>
</label>
<table id="mainTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
            </th>
            @foreach (var course in Model.Courses)
            {
                <th id="@course.Code">
                    <a class="align-middle" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Code">
                        <b>@course.Name</b>
                    </a>
                </th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr id="@student.StudentId">
                <td>
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId">
                        @student.StudentFullName
                    </a>
                </td>

                @foreach (var mark in student.Marks)
                {
                    <td>
                        <div id="student" hidden value="@mark.StudentId"></div>
                        <div id="course" hidden value="@mark.CourseCode"></div>
                        <input id="mark" type="number" value="@mark.MarkValue" min="6" max="10">
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section scripts {

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {

        // Mark Processing
        $("input#mark").focusout(function () {

            var studentId = $(this).siblings('#student').attr("value");
            var courseId = $(this).siblings('#course').attr("value");
            var mark = $(this).val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("MarkProcessing", "Home")',
                data: {
                    "courseCode": courseId,
                    "studentId": studentId,
                    "markValue": mark
                },
                success: function (recData) { alert('Successfully updated'); },
                error: function() { alert('A error'); }
            });
        });

        // Remote filltering, search students in the database
        $('#filterStudents').select2({
                ajax: {
                    url: '@Url.Action("FilterStudents")',
                data: {
                    "searchTerm": function () {
                        return $('.select2-search__field')[0].value
                    }},
                },
                placeholder: "Filter students...",
                allowClear: true,
            minimumInputLength: 1
        });

        // Hide or show rows for student filltering
        $('#filterStudents').on('change', function (e) {
            var id = $(e.currentTarget).val();
            if (id != null) {
                $('tbody tr[id]').hide(); // hide all rows
                $('tbody tr[id=' + id + ']').show(); // show selected row
            } else {
                $('tbody tr[id]').show();
            }
        });

        // Selecting students from Model
        $('#filterCourses').select2({
                placeholder: "Filter courses...",
                allowClear: true,
        });

        // Hide or show columns for filltering
        $('#filterCourses').on('change', function (e) {

            var id = $(this).children("option:selected").val();

            if (id != null && id != "") {
                $('thead th[id]').hide(); // hide all headers
                $('td:has(#course)').hide(); // hide all row
                $('thead th[id=' + id + ']').show(); // show only selected header
                $('td:has(#course[value=' + id + '])').show(); //show column
            } else {
                $('thead th[id]').show();
                $('td:has(#course)').show();
            }
        });

    });
    </script>
}
